*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#calculadora{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border: solid 1px black;
    border-radius: 15px;
}

#digitados{
    height: 50px;
    width: 100%;
    border: solid black 1px
}

#digitos{
    display: flex;
    height: 300px;
    width: 100%;
    border: solid black 1px;
}

#caixa-dos-numeros{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
    border: solid black 1px;
}

#sinais{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    border: solid black 1px;
}

.button-acessorio{
    height: 50px;
    width: 70px;
}

.button-operation{
    height: 50px;
    width: 70px;
}

.button-execute{
    height: 50px;
    width: 70px;
}

.button{
    height: 50px;
    width: 70px;
}